################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EEEventService/Presentation/appsettings.json
/EEEventService/Presentation/appsettings.Development.json
